

.dashboard{
  background-image: url(../../assets/image.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    height: 800px;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.box1{
      width:220px;
      height: 180px;
      background-color:black; 
      padding:10px;
      display:flex;
      opacity:0.8;
      border-radius: 0.5rem;
      justify-content: center;

  }
  .box2{
    width:220px;
    height: 180px;
    background-color:black; 
    padding:10px;
    display:flex;
    margin-left: 50px;
    opacity:0.8;
    border-radius: 0.5rem;
    justify-content: center;
    margin-right: -300px;

}
.btn{
  margin: 0 auto;
  padding: 8px;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  display: flex;
}

table {
  border: 3px solid forestgreen;
  width: 600px;
  height: 600px;
  margin-left: 80px;

}
  
th {
  border-bottom: 1px solid black;
  font-size: 20px;
  color: forestgreen;
  font-weight: bold;
  flex: 1;
}
  
td {
  text-align: center;
  font-size: 25px;
  color: black;
  flex: 1;
}

.main{
  display: flex;
  margin-bottom: 30px;
  display: flex;
}

.mainbox{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: flex-start;
  justify-content: center;
  align-self:flex-start ;
  height: 750px;
  width: 600px;
  margin-left: 30px;
}

.text{
  display: flex;
  margin-top: -5px;
  margin-bottom: 20px;
}

.text2{
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
}

.footer2{
  color: black;
  background-color: rgba(34, 139, 34,0.8);
  padding: 10px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  /* body{
    background-image: url(./image.jpg);
    background-size: cover !important;
    background-position: center;
    background-size: auto;
} */
  .dashboard{
    display: flex;
    flex-direction: column;
    height: auto !important;
    width: auto !important;
  }
  table{
    display: block !important;
    margin: 0 auto;
    align-items: center !important;
    width: auto;
    height:auto;
  }
  .mainbox{
    display: flex;
    width: auto !important;
    height: auto !important;
  }
  .main{
    width: auto !important;
    height: auto !important;
    display: flex;
    flex-direction: row;
  }
  .box1{
    width:auto;
    font-size: 10px;
    align-items: center;
  }
  .box2{
    font-size: 10px !important;
    width: auto;
    align-items: center;
  }
  .text{
    justify-content: center;
    margin-top: 20px;
  }
}

