
#CONTACT{
    background-image: url('../../assets/contact.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 580px;
}

.all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.box{
    display: flex;
    flex-direction: column;
}

.input{
    width: 480px;
    height: 52px;
    padding: 10px;
    border-radius: 0.3rem;
    border-style: none;

}

.form{
    padding: 0 20px 20px 0;
}

.message{
    height: 197px;
    width: 480px;
    border-radius: 0.3rem;
    border-style: none;
    padding-left: 20px;
    padding-top: 20px;
}

.submit{
    padding: 20px;
    width: 200px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    background-color: #FAD22E;
    color: white;
    border-style: none;
    border-radius: 0.3rem;
    justify-items: center;
    display:block;
    margin: 0 auto;
}

.title{
    padding-top: 30px;
    text-align: center;
}

input::placeholder{
    font-size: 15px;
    font-weight: bold;
    color:lightslategrey;
}

textarea::placeholder{
    font-size: 18px;
    font-weight: bold;
    color:lightslategrey;
}
@media (max-width:1050px){
    .container form .all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .message{
        height: 70px;
    }
    .block{
        position: relative;
        left: -10px;
    }
    .container>form{
        position: relative;
        top: -40px;
    }
    .title{
        padding-top: 1px;
    }
    .title p{
        margin-top: -30px;
    margin-bottom: 60px;
    }
    .submit{
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 100%;
    }
}
@media (max-width:600px){
    .container>form input,.message{
        width: 80vw;
    }
    .title h1{
        font-size: 30px!important;
        margin-bottom: 50px;
    }
    .title p{
        font-size: 15px!important;
    }
}

@media only screen and (max-width: 480px) {
    .container1{
        display: flex;
        flex-direction: column;
    }
    .all{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .input{
        display: flex;
        width: auto;
        height: auto;
    }
    .box{
        display: flex;
        width: auto;
        margin: 0 auto;
    }
    .message{
        width: auto;
        height: auto;
    }
    .block{
        margin: 0 auto;
        width: auto;
    }
    .input::placeholder{
        font-size: 10px;
    }
    .message::placeholder{
        font-size: 15px;
    }
    .submit{
        width: auto;
        font-size: 15px;
    }
}



