.container{
    background-image: url('contact.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 580px;
}

.all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.box{
    display: flex;
    flex-direction: column;
}

.input{
    width: 480px;
    height: 40px;
    padding: 10px;
    border-radius: 0.3rem;
    border-style: none;

}

.form{
    padding: 0 20px 20px 0;
}

.message{
    height: 197px;
    width: 480px;
    border-radius: 0.3rem;
    border-style: none;
    padding-left: 20px;
    padding-top: 20px;
}

.submit{
    padding: 20px;
    width: 200px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    background-color: #FAD22E;
    color: white;
    border-style: none;
    border-radius: 0.3rem;
    justify-items: center;
    display:block;
    margin: 0 auto;
}

.title{
    padding-top: 30px;
    text-align: center;
}

input::placeholder{
    font-size: 15px;
    font-weight: bold;
    color:lightslategrey;
}

textarea::placeholder{
    font-size: 18px;
    font-weight: bold;
    color:lightslategrey;
}




