.ch #nav {
    background-color: rgb(182, 245, 106);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.ch .css-130f8nx a {
    color: black;
}
.ch path {
    color: black;
}
body{
    overflow-x: hidden;
}