.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.icons{
    display: inline-block;
    border-radius: 100px;
    color: white;
    background-color: black;
  padding: 0.5em 0.6em;
}
.socials{
    display: flex;
}
.terms{
    color:#FAD22E;
}
.copyright{
    color: black;
}
@media (max-width:600px){
   .main{
    flex-direction: column;
   }
}

@media only screen and (max-width: 480px) {
    main{
        display: flex;
    }
}

