.main{
    display: flex;
    flex-direction: row;
}

.copyright{
    padding: 20px 200px 20px 150px;
}

.socials{
    padding: 20px 100px 20px 100px;
}

.terms{
    padding: 20px 100px 20px 80px;
}

.icons{
    display: inline-block;
    border-radius: 100px;
    color: white;
    background-color: black;
  padding: 0.5em 0.6em;
}

.terms{
    color:#FAD22E;
}

